/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: Lato, Arial, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 0.03rem;
}

header {
    background-color: #000000;
    mix-blend-mode: normal;
}

input:hover,
button:hover {
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    -webkit-box-shadow: 0px 2px 0px rgba(181, 181, 181, 0.511);
    box-shadow: 0px 2px 0px rgba(181, 181, 181, 0.511);
}

.dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6px;
    padding: 12px;
}

.dots__red {
    border: 8px solid rgba(252, 4, 4, 0.888);
    border-radius: 9px;
}

.dots__yellow {
    border: 8px solid rgba(194, 166, 8, 0.888);
    border-radius: 9px;
}

.dots__green {
    border: 8px solid rgba(7, 171, 62, 0.975);
    border-radius: 9px;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.logo__img:hover,
.icon__add:hover {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.logo__online:hover {
    opacity: 0.3;
}

.icon {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.icon__add {
    margin: 98px 12px 0 12px;
    opacity: 0.4;
    width: 48px;
}

.icon__add:hover {
    fill: #FFFFFF;
    stroke: rgb(255, 253, 253);
}

.dropdown {
    position: relative;
    mix-blend-mode: normal;
    background-color: #25272A;
    opacity: 0.75;
}

.dropdown__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 36px 0 30px 22px;
}

.dropdown-toggle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    background-color: #25272A;
}

.dropdown-toggle:after {
    content: url(../img/dropdown/downGrey.svg);
    background-repeat: no-repeat;
    padding-left: 6px;
    cursor: pointer;
}

.dropdown-icon {
    margin: 0 24px 0 78px;
}

.dropdown-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 11px;
    margin-left: 22px;
}

.dropdown-par {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}

.dropdown__menu {
    margin: 22px;
    padding: 12px 0 0 8px;
    width: 224px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    position: absolute;
    -webkit-transition: all .09s ease-out;
    -o-transition: all .09s ease-out;
    transition: all .09s ease-out;
    /* box-shadow: 0 5px 10px rgba(219, 210, 210, 0.2); */
    -webkit-box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
    box-shadow: 0 5px 10px rgba(0 0 0 / 20%);
}

/* #main_menu {
    overflow-y: scroll;
    color: #797777;
    height: 234px;
}

#main_menu::-webkit-scrollbar {
    width: 7px;
    background-color: #696161;
}

#main_menu::-webkit-scrollbar-thumb {
    background-color: #54575a;
    border-radius: 12px;
}

#main_menu::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #9c9c9c;
    border-radius: 10px;
} */

#main_btn {
    overflow-y: scroll;
    color: #797777;
    height: 234px;
}

#main_btn::-webkit-scrollbar {
    width: 7px;
    background-color: #696161;
}

#main_btn::-webkit-scrollbar-thumb {
    background-color: #54575a;
    border-radius: 12px;
}

#main_btn::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #9c9c9c;
    border-radius: 10px;
}

.dropdown__menu ul {
    min-height: 400px;
}

.dropdown__menu ul::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.dropdown__menu ul::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown__menu.show {
    z-index: 90;
    visibility: visible;
    opacity: 1;
}

.dropdown__menu-h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #919191;
}

.dropdown__menu li {
    padding: 6px;
}

.dropdown__menu a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
    padding: 12px;
}

.dropdown__menu a:hover {
    font-weight: 700;
    color: #FFFFFF;
}

.dropdown__menu li:hover {
    mix-blend-mode: normal;
    background-color: #535353;
    padding: 4px 0 9px 13px;
    border-radius: 5px;
}

.friends_list {
    margin: 280px 0 0 24px;
    background-color: #25272A;
}

.friends_list__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.friends_list-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #cdc8c8;
}

.friends_list-par {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-right: 24px;
    text-transform: uppercase;
    color: #cdc8c8;
}

.friends_list__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
    padding-top: 26px;
}

.friends_list-ball {
    border: 4px solid rgba(25, 237, 25, 0.874);
    border-radius: 8px;
    height: 3px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.friends_list-ball-offline {
    border: 4px solid rgba(118, 118, 118, 0.874);
}

.friends_list-avatar {
    border-radius: 4px;
}

.friends_list__par {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #dbd7d7;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

main {
    background-color: #FFFFFF;
}

.content {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content__text {
    padding: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 6px;
}

.content__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.content__img {
    margin-right: 412px;
}

.content__count {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    gap: 6px;
}

.content__count-par {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A4A4A4;
}

.search {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.bell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 32px;
}

.bell::after {
    content: url(../img/content/bell.svg);
}

.bell-active {
    -webkit-animation: bell-active 2.5s both;
    animation: bell-active 2.5s both;
}

@-webkit-keyframes bell-active {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateX(12px);
        transform: translateX(12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    42% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes bell-active {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    5% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    25% {
        -webkit-transform: translateX(12px);
        transform: translateX(12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    38% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    42% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

input[type="text"] {
    background: rgba(0, 0, 0, 0.0001);
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    padding: 8px 62px 8px 8px;
    border-radius: 4px;
    display: block;
    outline: none;
}

button[type="reset"] {
    position: absolute;
    top: 34px;
    right: 19%;
    z-index: 9;
    border: none;
    display: inline-block;
    cursor: pointer;
    background-color: white;
}

.swiper {
    margin-top: 24px;
    width: 980px;
    height: 550px;
}

.swiper-wrapper {
    padding: 0 32px;
}

.swiper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
}

.swiper-slide-active {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}

.swiper-slide {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
}

.swiper__title {
    padding-bottom: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

span {
    font-weight: 400;
    color: #8D8D8D;
}

.swiper-par {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #3577EF;
}

.swiper__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

hr {
    background-color: #000000;
    mix-blend-mode: normal;
    opacity: 0.16;
    width: 372px;
    height: 1px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    border: none;
}

.swiper__line p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #8D8D8D;
    margin: 14px;
}

.swiper__avatar {
    height: 34px;
}

.swiper__par {
    width: 92%;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    word-break: break-all;
}

.swiper__par::after {
    content: url(../img/swiper/emodji.jpg);
    padding: 4px;
}

.swiper-img {
    padding-top: 8px;
}

.swiper__line-hr {
    width: 410px;
}

.swiper__line-hr-big {
    width: 422px;
}

.swiper__par-text {
    word-break: break-all;
}

.swiper__par-text::after {
    content: '';
}

.message {
    background-color: #FFFFFF;
    border-top: 0.5px solid rgba(0, 0, 0, 0.24);
    padding: 16px 32px 26px 32px;
}

.message__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.message__content-img {
    margin: 0 20px 0 20px;
}

.message-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

textarea[name="message"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8D8D8D;
    border: none;
    outline: none;
}

textarea:-moz-placeholder {
    padding-top: 18px;
}

textarea::-webkit-input-placeholder {
    padding-top: 18px;
}

textarea {
    resize: none;
}

.profile {
    background-color: #85858560;
    position: relative;
}

.profile__content {
    margin-left: 20px;
}

.profile__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 16px;
}

.profile__par {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
    padding: 4px 0 20px 0;
}

.profile__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    margin-bottom: 18px;
}

.profile__link img:hover {
    background-color: #ffffff;
    -webkit-transition: all 0.3 ease;
    -o-transition: all 0.3 ease;
    transition: all 0.3 ease;
}

.profile__link img {
    background-color: #E8E8EB;
    border-radius: 10px;
    padding: 7px;
}

.profile__dropdown-par {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #3577EF;
    padding: 5px 41px;
    border: none;
    border-radius: 4px;
}

.profile__dropdown-toggle {
    background-color: #3577EF;
    border: none;
    padding: 5px 9px;
    border-radius: 4px;
}

.profile__dropdown-toggle:hover {
    cursor: pointer;
    background-color: #7ca5f8e9;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.profile__name {
    margin: 12px 0 2px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5F6164;
}

.profile__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.profile__dropdown-list {
    display: none;
    position: absolute;
    z-index: 2;
}

.profile__dropdown-list li {
    display: block;
}

.showMessageBox {
    display: block;
}